<div class="card-footer text-muted">
    <small>
        Submitted by {{quote.name}} on {{quote.submissionDate|date}}
    </small>
    <button class="btn" style="color:red;" (click)="quoteDelete(true)">
        <i class="fas fa-trash-alt"></i>
        Delete
    </button>
    <button class="btn" (click)="downVote()">{{quote.downVote}}
        <i class="fas fa-thumbs-down"></i>
    </button>
    <button class="btn" (click)="upVote()">{{quote.upVote}}
        <i class="fas fa-thumbs-up"></i>
    </button>
    
    
    


</div>
