.blockquote {
    font-size: 1rem;
  }
  .card {
    /*animates card elements*/
    margin: 3%;
    width: 54rem;
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(82, 10, 71, 0.35);
    transition: all 0.3s ease-in-out;
  }

.card:hover {
    /* animates card motion on hover */
    transform: translateY(-7px);
  }